node_modules
.git
.gitignore
.local
.vscode
*.zip
*.rar
*.dev.*
*.test.*
test.js
database/data/*
scripts/cmds/tmp/*
scripts/events/tmp/*
scripts/events/data/leaveAttachment
scripts/events/data/welcomeAttachment
fb-chat-api.dev
obfcode.js
minify.js
backupOrigin.js
createVersion.js
createVersionAndCommit.js
checkOriginCodeChanged.js
README.md
CHANGELOG.md
DOCS.md
STEP_INSTALL.md
